.App {
  display: flex;
  flex-flow: column;
}
  
.Header { 
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #ff4654;
}

.Content { 
  display: flex;
  margin-top: 60px;
  min-height: calc(100vh - 120px);
}

.Footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.Footer a{
  color: #ff4654;
  text-decoration: none;
}
  
.Footer a:visited{
  text-decoration: none;
}

.App-logo {
    height: 60px;
    width: 60px;
    margin-left:5px;
    pointer-events: none;
  }
  
.Navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.Navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.Navigation-bar li a {
  color:white;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
}



.Team-generator {
  width: 100%;
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top:20px;
}
.Team {
  display:flex;
  flex-flow: column;
}

.Player-list{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Map-generator {
  width: 100%;
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top:20px;
}

.Map-list{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Map-image{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top:20px;

}

.Team {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Generate-teams{
  margin-bottom: 10px;
}

.Add-player-wrapper{
  display: flex;
  margin-top: 10px;
}

.Player-input {
  height: 80%;
  margin-right: 5px;
}

.Save-Player{
 
}

@media only screen and (max-width: 600px) {
  .Team-generator{
    display: flex;
    flex-flow: column;
  }

  .Map-generator{
    display: flex;
    flex-flow: column;
  }
}



